footer {
background-color:grey;
font-size: 20px;
color:skyblue;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.blog {
    background-color: darkgray;
}

